.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
/* h1{
  font-size: 6rem;
  font-family: FF Sero Medium;
}

#stopwatch {
  height: 70vh;
  width:70vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-width: 7px;
  border-color: #54bde1;
  border-radius: 3rem;
  border-top-width: 6rem;
  border-bottom-width: 3rem;
}

#time {
  margin: 3rem 0;
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digits {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6rem;
  color: black;
}

.milli-sec {
  color: black;
}

.buttons {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.btn-grp {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 10vw;
  height: 5vh;
  border-radius: 5px;
  margin: 0px 6px;
  display: flex;
  border: 3px solid grey;
  border-top-color: #767676;
  border-left-color: #767676;
  border-right-color: #000000;
  border-bottom-color: #000000;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}

.btn-one {
  background-color: white;
}

.btn_hidden {
  border-top-color: #d2d2d2;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  border-bottom-color: #d2d2d2;
  color: #d2d2d2;
} */

.stopwatch-container {
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 500px;
  height: 300px;
  margin: 200px 500px;
  /* margin: auto; */
  border-top: solid rgb(9, 204, 243) 40px;
  border-left: solid rgb(9, 204, 243) 5px;
  border-right: solid rgb(9, 204, 243) 5px;
  border-bottom: solid rgb(9, 204, 243) 40px;
  border-radius: 10px;
}
#header-text {
  font-size: 40px;
  font-weight: 500;
  margin: 20px;
}


.time-text {
  font-size: 40px;
  margin: 20px;
  /* text-align: center; */
  font-weight: 500;
  padding: 20px;
}

.button {
  font-size: 20px;
  margin: 0 10px;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #3e8e41;
}

.button:disabled {
  background-color: #808080;
  cursor: not-allowed;
}